        .website-headline-background {
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat;
            height: 70vh;
            width: 100%;
        }